aiohttp==3.10.3
async-timeout==4.0.3
alembic==1.13.1
uvicorn == 0.30.4
typing==3.7.4.3
fastapi == 0.112.0
uvicorn == 0.30.4
loguru==0.7.2
ldap3==2.9.1
starlette==0.37.2
SQLAlchemy==2.0.30
python-dotenv==1.0.1
psycopg2==2.9.9
pydantic==2.7.4
python-multipart==0.0.9
PyJWT==2.8.0
